<section>
    <h1>
        Available seminars:
    </h1>
    <hr />
    <div>
        <table>
            <thead>
                <tr>
                    <th>Seminar Title</th>
                    <th>Enrollment</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                <%
                    seminars.each( function( seminar, x ){
                    %>
                        <tr data-id="<%= seminar.get( "id" ) %>">
                            <td><%= seminar.get( "name" ) %></td>
                            <td><%= seminar.get( "students" ).length || 0 %></td>
                        </tr>
                    <%
                    });
                %>
            </tbody>
        </table>
    </div>
    <footer>
        <button>Add a seminar</button>
    </footer>
</section>
