<section>
    <h1>
        Enrolled students:
    </h1>
    <hr />
    <div>
        <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Seminars Enrolled</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                <%
                    students.each( function( stu, x ){
                        %>
                        <tr data-id="<%= stu.get( "id" ) %>">
                            <td><%= stu.get( "name" ) %></td>
                            <td><%= stu.get( "seminars" ).length %></td>
                        </tr>
                        <%
                    });
                %>
            </tbody>
        </table>
    </div>
    <footer>
        <button>Enroll a student</button>
    </footer>
</section>
